HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

PostgresTestVolume/
PgVol/
**/data from www-bnains-org/
.DS_Store
*/.DS_Store
portfolioWatcher/src/main/resources/.DS_Store
portfolioWatcher/src/main/resources/data\ from\ www-bnains-org/
portfolioWatcher/src/main/resources/data from www-bnains-org/
